:root {
  --Dark-purple: #24053e;
  --Eucaplyptus: #44ffa1;
  --Davys-grey: #584d62;
  --Ghost-white: #fcf8ff;
  --White: #ffff;

  /* Fonts */
  --Fraunces: "Fraunces", serif;
  --Manrope: "Manrope", sans-serif;

  /* Container widths */
  --container: 343px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img {
  display: block;
  width: 100%;
}

body {
  background-color: var(--White);
  overflow-x: hidden;
}

main,
footer {
  background-color: var(--White);
}

header {
  background-color: var(--Dark-purple);
  color: white;
  position: relative;
  width: 100%;
}

/* Header */

.nav-cta {
  display: flex;
  flex-direction: row;
  margin: auto;
  justify-content: space-between;
}

.logo {
  justify-content: flex-start;
}

.apply {
  justify-content: flex-end;
  font-family: var(--Manrope);
  font-weight: bold;
  text-decoration: underline var(--Eucaplyptus) 3px;
}

header > h1,
.learn-more {
  margin: auto;
}

header > h1 {
  font-family: var(--Fraunces);
  text-align: center;
  max-width: var(--container);
}

header > h1 > span {
  text-decoration: underline var(--Eucaplyptus) 4px;
}

.learn-more {
  cursor: pointer;
  font-family: var(--Manrope);
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  color: var(--Dark-purple);
  background-color: var(--Eucaplyptus);
  font-weight: bold;
}

.mobile-hero {
  position: absolute;
  z-index: 1;
}

ul {
  text-align: center;
  color: var(--Dark-purple);
  font-family: var(--Manrope);
  margin: auto;
  list-style: none;
}

.list-section {
  display: flex;

  text-align: center;
  background-color: var(--Ghost-white);
  position: relative;
}

ul > h2 {
  font-family: var(--Fraunces);
  font-weight: bold;
}

.li-numbers {
  display: flex;
  border-radius: 50%;
  border: 2px solid var(--Davys-grey);
}

/* Louis Graham section */

.louis-graham {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
}

.blue-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: var(--Dark-purple);
  color: var(--White);
  position: absolute;
}

.blue-box-content > h3 {
  font-family: var(--Fraunces);
}

.blue-box-content > p {
  font-family: var(--Manrope);
}

.apply-btn {
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-weight: bold;
  background-color: var(--Eucaplyptus);
  font-family: var(--Manrope);
  color: var(--Dark-purple);
  margin: auto;
  cursor: pointer;
}

/* Footer section */

.logo-dark {
  cursor: pointer;
}

footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.social-icons {
  display: flex;
  flex-direction: row;
}

.socials {
  cursor: pointer;
}
