@media screen and (max-width: 48em) {
  header {
    height: 481.71px;
  }

  /* Header */

  .nav-cta {
    padding: 0rem 1rem;
    padding-top: 2rem;
    max-width: 343px;
  }

  .logo {
    width: 95.76px;
    height: 24.61px;
  }

  .apply {
    font-size: 1rem;
    text-decoration: 3px;
    text-underline-offset: 5px;
    text-decoration: underline var(--Eucaplyptus) 3px;
  }

  header > h1 {
    font-size: 3.125rem;
    padding-top: 4rem;
  }

  header > h1 > span {
    text-decoration: 4px;
    text-underline-offset: 15px;
    text-decoration: underline var(--Eucaplyptus) 4px;
  }

  .learn-more {
    margin-top: 2.5rem;
    width: 133px;
    height: 55px;
  }

  .mobile-hero {
    left: 50%;
    top: 50%;
    margin-top: 145px;
    margin-left: -150px;
    width: 320px;
    height: 184px;
  }

  ul {
    max-width: 410px;
  }

  .list-section {
    height: 1070px;
    flex-direction: column;
  }

  .list-groups {
    padding: 2.5rem 0rem;
  }

  ul > h2 {
    font-size: 1.75rem;
    padding: 1.5rem 0rem 1rem 0rem;
  }

  ul > p {
    line-height: 28px;
  }

  .li-numbers {
    justify-content: center;
    flex-direction: column;
    text-align: center;
    margin: auto;
    width: 48px;
    height: 46px;
  }

  /* Louis Graham section */

  .louis-graham {
    margin: 6.25rem 0rem 4.625rem 0rem;
  }

  .louis-graham-img {
    width: 281px;
    height: 281px;
  }

  .blue-box {
    width: 343px;
    height: 375px;
    top: 230px;
  }

  .blue-box-content {
    padding: 2rem 1.938rem;
  }

  .blue-box-content > h3 {
    font-weight: 600;
    font-size: 2rem;
  }

  .blue-box-content > p {
    font-size: 1rem;
    padding: 1rem 0rem 1.5rem 0rem;
  }

  .apply-btn {
    width: 172px;
    height: 55px;
  }

  .coil-one,
  .coil-two {
    display: none;
  }

  /* Footer section */

  .logo-dark {
    width: 95.76px;
    height: 24.61px;
  }

  footer {
    padding-top: 20rem;
    padding-bottom: 4rem;
    gap: 3.563rem;
  }

  .social-icons {
    gap: 28px;
  }

  .socials {
    width: 20px;
    height: 20px;
  }
}
