@media screen and (min-width: 48em) and (max-width: 90em) {
  header {
    height: 540.24px;
  }

  /* Header */

  .nav-cta {
    padding: 0rem 2.5rem;
    padding-top: 2rem;
    max-width: 689px;
  }

  .logo {
    width: 95.76px;
    height: 24.61px;
  }

  .apply {
    font-size: 1rem;
    text-decoration: 3px;
    text-underline-offset: 5px;
    text-decoration: underline var(--Eucaplyptus) 3px;
  }

  header > h1 {
    font-size: 3.75rem;
    padding-top: 4rem;
    max-width: 400px;
  }

  header > h1 > span {
    text-decoration: 4px;
    text-underline-offset: 15px;
    text-decoration: underline var(--Eucaplyptus) 4px;
  }

  .learn-more {
    margin-top: 2.5rem;
    width: 133px;
    height: 55px;
  }

  .coil-one,
  .coil-two {
    position: absolute;
  }

  .coil-one {
    width: 270.29px;
    height: 215.1px;
    top: 150px;
    left: -175px;
  }

  .coil-two {
    width: 141.7px;
    height: 112.71px;
    top: 290px;
    right: -75px;
  }

  .mobile-hero {
    left: 50%;
    top: 50%;
    margin-top: 145px;
    margin-left: -257px;
    width: 514px;
    height: 296px;
  }

  .list-groups {
    display: flex;
    flex-direction: row;
  }
}
